@charset "UTF-8";

/* 폰트 */
@font-face {
    font-family: 'KNPSKkomi-Regular00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #fffcf1;
/* 	margin: 0; */
/* 	width: 80vw; */
/* 	height: 100vh; */
	overflow-x: hidden;
}

/* 전체div */
.main-container{
	border: blue solid 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.open{
    display: flex;
    width: 30%;
    justify-content: center;
    flex-wrap: wrap;
}

.img{

    margin: 0 2% 0 2%;

}

/* 글자부분 */
#main-text{
	border: green solid 1px;
	margin-top: 70px;
	margin-bottom: 30px;
	font-family: 'KNPSKkomi-Regular00';
	font-weight: bolder;
	font-size: 30pt;
}

/* 유리병 아이콘 */
.main-memo{
	border: red solid 1px;
	width: 80px;
}
.main-memo:hover{
cursor: pointer;
}



/* 모달 배경 오버레이 */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: none;
}

/* 모달창 css */
.modal-container {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	height: auto;
	z-index: 1000;
}

.modal-body {
	/*     border: green solid 1px; */
	width: 100%;
	height: auto;
	margin: auto;
	border-radius: 10px;
	background-color: #FDFAE9;
}

#modal-cancle {
	/* 	border: red solid 1px; */
	margin-top: 15px;
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
}

#cancle-botton {
	width: 23px;
	height: 23px;
	border-radius: 3px;
	background-color: #6C4C1C;
	/* 	border: #6C4C1C solid 1px; */
	text-align: center;
	font-size: 11pt;
	color: white;
	cursor: pointer;
}

.modal-top {
	/* 	border: blue solid 1px; */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: left;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	margin: 20px 0px;
	width: 100%;
}

.modal-title {
	font-family: 'KNPSKkomi-Regular00';
	font-size: 20pt;
	width: 100%;
	text-align: center;
}



.modal-date {
	font-family: 'KNPSKkomi-Regular00';
	font-size: 20pt;
	margin-right: 0;
}

#modal-date-input {
	margin-left: 0px;

}

.modal-img-show {
	/* 	border: red solid 1px; */
	margin-top: 13px;
	display: flex;
	justify-content: center;
}

#modal-img-show {
/* 	border: green solid 1px; */
	width: auto;
	height: 300px;
	
}

.modal-img {
	/* 	border: gray solid 1px; */
	margin-top: 10px;
	display: flex;
	margin-left: 20pt;
	/* 	justify-content: center; */
}

#file-upload {
	font-family: 'KNPSKkomi-Regular00';
	font-size: 10pt;
}

.main-textarea{
	display: flex;
	justify-content: center;
}
.modal-textarea {
	width: 95%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: 'KNPSKkomi-Regular00';
	font-size: 20px;
	resize: both;
	background-color: transparent;
	margin: 20px 0px 40px 0px;
	text-align: center;
}
.modal-textarea > text{
	border-bottom: 1px solid black;
}


