@charset "UTF-8";

/* 글꼴설정 */
@font-face {
    font-family: 'KNPSKkomi-Regular00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 공통속성 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* 컨테이너 */
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: #FFFCF1;
}

/* 콘텐츠 */
.content {
	/* 	border: 1px solid black; */
	width: 100%;
	height: 100%;
}

/************ 메뉴 ***************/
.menu {
	/* 	border: 1px solid black; */
	width: 10%;
	height: 100%;
	position: absolute;
	right: 0;
}

/* 메뉴 리스트 각 div */
.menu-list {
/* 	border: 1px solid black; */
	display: flex;
	width: 100%;
	height: 20%;
	justify-content: center;
}

/* 메뉴 리스트 위 여백 */
.menu-list:first-child {
	margin-top: 33%;
}

/* 메뉴 리스트 아이콘 div박스 */
.menu-list>div {
/* 	border: 1px solid black; */
	width: 60%;
	height: 50%;
	display: flex;
	flex-direction: column;
}

/* 호버시 마우스 모양 표시 */
.menu-list>div {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 메뉴 아이콘 img */
.menu-icon {
	width: 65%;
	height: 65%;
	display: flex;
	justify-content: center;
}

/* 메뉴 아이콘 txt */
.menu-txt {
/* 	border: 1px solid black; */
	display: flex;
	width: 100%;
	flex-wrap: wrap; 
	justify-content : center;
	font-family:'KNPSKkomi-Regular00';
	font-size: 20pt;
	text-align: center;
	margin-top: 15px;
}
/*******************************/