@charset "UTF-8";

/* 전체 공통속성 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* 컨테이너 */
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: #FFFCF1;
}

/* 콘텐츠 */
.content {
	/* 	border: 1px solid black; */
	width: 100%;
	height: 100%;
}

/************ 메뉴 ***************/
.menu {
	/* 	border: 1px solid black; */
	width: 10%;
	height: 100%;
	position: absolute;
	right: 0;
}

/* 메뉴 리스트 각 div */
.menu-list {
	/* 	border: 1px solid black; */
	display: flex;
	width: 100%;
	height: 20%;
}

/* 메뉴 리스트 위 여백 */
.menu-list:first-child {
	margin-top: 75%;
}

/* 메뉴 리스트 아이콘 div박스 */
.menu-list>div {
/* 	border: 1px solid black; */
	width: 50%;
	height: 50%;
}

/* 호버시 마우스 모양 표시 */
.menu-list>div {
	cursor: pointer;
}

/* 메뉴 아이콘 img */
.menu-icon {
	width: 100%;
	height: 100%;
}

/* 메뉴 아이콘 txt */
.menu-txt {
/* 	border: 1px solid black; */
	display: flex;
	width: 100%;
	flex-wrap: wrap; 
	justify-content : center;
	font-size: 20pt;
	text-align: center;
}
/*******************************/