@charset "UTF-8";

/* 폰트 */
@font-face {
    font-family: 'KNPSKkomi-Regular00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 리스트 컨텐츠 컨테이너 */
.list-container {
	width: 100%;
	height: 100%;
	display: flex;
}

/* 리스트 버튼 */
.go-div {
	/* 	border: 1px solid black; */
	width: 10%;
	height: 100%;
	display: flex;
	align-items: center;
}

.go-icon {
	/* 	border: 1px solid black; */
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.click-prev-icon {
/* 	border: 1px solid black; */
	width: 60px;
	height: 100px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

/* 전으로 돌아가기 after객체 */
.click-prev-icon::after {
	position: absolute;
	top: 12.5px;
	left: 10px;
	content: '';
	width: 50px;
	height: 50px;
	border-top: 2.5vh solid #F8EDC7;
	border-right: 2.5vh solid #F8EDC7;
	transform: rotate(225deg);
}

.click-next-icon {
/* 	border: 1px solid black; */
	width: 60px;
	height: 100px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

/* 다음으로 가기 after객체 */
.click-next-icon::after {
	position: absolute;
	top: 12.5px;
	right: 10px;
	content: '';
	width: 50px;
	height: 50px;
	border-top: 2.5vh solid #F8EDC7;
	border-right: 2.5vh solid #F8EDC7;
	transform: rotate(45deg);
}

/* 중앙 컨텐츠 박스 */
.list-content {
	/* 	border: 1px solid black; */
	width: 80%;
	height: 100%;
}

/* 컨텐츠 헤더 */
.list-header {
	/* 	border: 1px solid black; */
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
}

/* 타이틀 표시 위한 박스 */
.user-title {
	/* 	border: 1px solid black; */
	width: 50%;
	height: 100%;
	display: flex;
	margin-top: 2%;
/* 	align-items: center; */
}

/* 타이틀 폰트 */
.title-txt {
	/* 	border: 1px solid black; */
	font-family: 'KNPSKkomi-Regular00';
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: center;
	font-size: 25pt;
	font-weight: 700;
}

/* 선반 박스 */
.shelf {
/* 	border: 1px solid black; */
	width: 80%;
	height: 90%;
	position: absolute;
	transition: all 3s ease-in-out;
}
 
.added-shelf {
	transition: all 3s ease-in-out;
}

/* 선반 내 1층 2층 div설정 */
.shelf>div {
/* 	border: 1px solid black; */
	width: 100%;
	height: 47.5%;
	display: flex;
	flex-direction: column;
}

/* 병 나열해 두는 박스 */
.glass-line {
/* 	border: 1px solid black; */
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
}

/* 병 한개 공간 */
.bottle-space {
/* 	border: 1px solid black; */
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

/* 병 이미지 크기 */
.bottle-img {
/* 	border: 1px solid black; */
	height: 80%;
}

/* 유리병 설명 텍스트 */
.bottle-inform {
/* 	border: 1px solid black; */
	width: 40%;
	height: 20%;
	top: 50%;
	display: flex;
	position: absolute;
	font-size: 15pt;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-family: 'KNPSKkomi-Regular00';
}

/* 병 스티커 */
.inform-txt {
	z-index: 1;
	top: 51%;
}

/* 병 나무 받침대 div */
.wood-bracket-box {
/* 	border: 1px solid black; */
	display: flex;
	justify-content: center;
}

/* 병 나무 받침대 */
.wood-bracket {
/* 	border: 1px solid black; */
	width: 80%;
}