@charset "UTF-8";

@font-face {
	font-family: 'YeongdeokSea';
	src: url(font/YeongdeokSea.ttf)
}

body {
	background-color: #fffcf1;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

#container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-inner {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

.container-div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index-explain {
	font-size: 15pt;
	margin: 1% 0% 5% 0%;
}

#index-button {
	background: #6C4C1C;
	color: white;
	width: 30%;
	height: 50px;
	border-radius: 50px;
	font-size: 15pt;
}

#index-login {
	margin-bottom: 0.5%;
}

#index-join {
	color: #6C4C1C;
}

button, #index-join:hover {
	cursor: pointer;
}
/* 버튼 두 개 감싸는 div */
#button-div {
	width: 100%;
}

/* 슬라이더 감싸는 div */
.slider-container {
	margin-top: 1%;
}

/* 슬라이더 */
.slick {
	width: 100%;
}

.slick-arrow {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
}

.slick-prev {
	left: 7%;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	background-color: #ffffff00;
	border: 3px solid black;
}

.slick-next {
	right: 7%;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	background-color: #ffffff00;
	border: 3px solid black;
}

.slider-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* http://www.justinaguilar.com/animations/# 애니메이션 */

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	
}

@keyframes tossing {
	0% {
		transform: rotate(2deg);	
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(2deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		transform: rotate(2deg);	
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(2deg);	
	}				
}


