@charset "UTF-8";

@font-face {
	font-family: 'YeongdeokSea';
	src: url(font/YeongdeokSea.ttf)
}

body {
	background-color: #fffcf1;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

#container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-inner {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}

.container-div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-div>img {
	width: 150px;
	transform: rotate(15deg);
	margin: 5% 0% 2% 0%;
}

#index-main {
	font-size: 70pt;
	font-family: 'YeongdeokSea';
}

#index-explain {
	font-size: 15pt;
	margin: 1% 0% 5% 0%;
}

#index-button {
	background: #6C4C1C;
	color: white;
	width: 30%;
	height: 50px;
	border-radius: 50px;
	font-size: 15pt;
}

#index-login {
	margin-bottom: 0.5%;
}

#index-join {
	color: #6C4C1C;
}

button, #index-join:hover {
	cursor: pointer;
}
/* 버튼 두 개 감싸는 div */
#button-div {
	width: 100%;
	margin-top: 5%;
}

/* 슬라이더 */
.slick {
	width: 100%;
}

.slick-arrow {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
}

.slick-prev {
	left: 7%;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	background-color: #ffffff00;
	border: 2px solid black;
}

.slick-next {
	right: 7%;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	background-color: #ffffff00;
	border: 2px solid black;
}
