@charset "UTF-8";

body {
	background-color: #fffcf1;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-inner {
	position: relative;
	border: 3px solid #6C4C1C;
	background: white;
	border-radius: 30px;
	width: 33%;
	height: 60%;
	display: flex;
	align-items: center;
}

/* 로그인 전체 박스 */
.loginBox {
	width: 100%;
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

/* 로그인 input을 감싸는 div */
.login-input-line {
	width: 100%;
	margin-top: 5%;
}

.homeImg {
	width: 40px;
	position: absolute;
	top: 20px;
	left: 20px;
}

.checkBtn, .homeImg, #backLogin, #find-user, .login-button, .login-img>img, #find-user>span:hover
	{
	cursor: pointer;
}
/* 로그인 문구 */
#login-text {
	font-size: 20pt;
}

/* login input을 감싸는 박스 */
.login-input-box {
	margin-bottom: 3%;
}

/* input 속성 */
.login-input {
	background: white;
	border: 1px solid #6C4C1C;
	width: 60%;
	height: 50px;
	text-align: center;
	font-size: 13pt;
}
/* login input을 감싸는 container */
#login-input-container{
margin: 10% 0%;	
}

/* 버튼 속성 */
.login-button {
	background: #6C4C1C;
	color: white;
	width: 50%;
	height: 50px;
	border-radius: 50px;
	font-size: 15pt;
}

/* login에서 id/pw 찾기 */
#find-user {
	width: 100%;
	margin: 1% 0%;
}

/* 회원가입 문구 */
#join-text {
	font-size: 25pt;

}
/* 회원가입 input을 감싸는 박스 */
#join-input-box {
	height: 50%;
	width: 100%;
	display: grid;
	align-items: center;
}
/* 중복검사 버튼 */
.checkBtn {
	width: 50px;
	position: fixed;
	margin-left: 10px;
	margin-top: 5px;
}

/* join 인풋 유효성 검사 red box */
input:invalid {
	border: 2px solid #f03232;
	background-color: #ff00000d;
}

/* check Text 위치용 */
.checkText {
	position: relative;
	width: 200px;
	left: 130px;
	text-align: left;
}

/* find result div */
#find-result {
	display: none;
	width: 50%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.find-bold {
	font-weight: bold;
}
/* find input을 감싸는 박스 */
.find-input-box {
	margin: 3% 0% 0% 0%;
	width: 100%;
	display: flex;
	justify-content: center;
}
/* 이메일 적는 칸, 결과 보여주는 카 */
.find-form{
	width: 100%;
    margin: 15% 0%;
}

#find-text {
	margin-bottom: 15%;
	font-weight: bold;
}

/* 로그인으로 돌아가는 부분 */
#backLogin {
	margin-top: 1.2%;
}

/* input창 focus 됐을 때 생기는 outline 없앰 */
input:focus {
	outline: none;
}