@charset "UTF-8";

body {
	background-color: #fffcf1;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-inner {
	width: 35%;
	height: 60%;
}

/* 로그인 전체 박스 */
.loginBox {
	border: 3px solid #6C4C1C;
	border-radius: 30px;
	width: 100%;
	height: 600px;
	background: white;
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 30px;
}

/* 로그인 input을 감싸는 div */
.login-input-line {
	width: 100%;
}
/* 아이콘 자리 */
.login-img {
	width: 100%;
	text-align: left;
}

.login-img>img {
	width: 40px;
	margin-left: 3%;
}

.login-img>img, #find-user>span:hover {
	cursor: pointer;
}
/* 로그인 문구 */
#login-text {
	font-size: 20pt;
}

/* login input을 감싸는 박스 */
.login-input-box {
	margin-bottom: 3%;
}
/* find input을 감싸는 박스 */
.find-input-box {
	margin: 3% 0% 0% 0%;
}

/* input 속성 */
.login-input {
	background: white;
	border: 1px solid #6C4C1C;
	width: 60%;
	height: 50px;
	text-align: center;
	font-size: 15pt;
}

/* 버튼 속성 */
.login-button {
	background: #6C4C1C;
	color: white;
	width: 50%;
	height: 50px;
	border-radius: 50px;
	font-size: 15pt;
}

#find-user {
	width: 100%;
	margin-top: -15%;
}
/* 회원가입 문구 */
#join-text {
	font-size: 25pt;
}
/* 회원가입 input을 감싸는 박스 */
#join-input-box{
	height: 50%;
	width: 100%;
	display: grid;
	align-items: center;
}
