@charset "UTF-8";

/* 폰트 */
@font-face {
	font-family: 'KNPSKkomi-Regular00';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 모달 배경 오버레이 */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: none;
}

/* 모달창 css */
.modal-container {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	height: auto;
	z-index: 1000;
}

.modal-body {
	/*     border: green solid 1px; */
	width: 100%;
	height: auto;
	margin: auto;
	border-radius: 10px;
	background-color: #FDFAE9;
}

#modal-cancle {
	/* 	border: red solid 1px; */
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
	padding-top: 20px;
}

#cancle-botton {
	width: 23px;
	height: 23px;
	border-radius: 3px;
	background-color:  #6C4C1C;
	/* 	border: #6C4C1C solid 1px; */
	text-align: center;
	font-size: 11pt;
	color: white;
	cursor: pointer;
}

.modal-top {
	/* 	border: blue solid 1px; */
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}

.modal-top2{
/* 	border: blue solid 2px; */
	padding-left: 20px;
	display: flex;
	justify-content: space-between;
}

.modal-title {
	font-family: 'KNPSKkomi-Regular00';
	font-size: 20pt;
	
}

#modal-title-input {
	background-color: transparent;
	border: none;
	border-radius: 5px;
	width: 300px;
	height: 45px;
	margin-left: 10px;
	font-family: 'KNPSKkomi-Regular00';
	font-size: 17pt;
}

#modal-title-input:focus{
	outline: none;
	border-bottom: #6C4C1C solid 3px;
}

.modal-date {
	font-family: 'KNPSKkomi-Regular00';
	font-size: 20pt;
}

.modal-img-show {
	/* 	border: red solid 1px; */
	margin-top: 13px;
	display: flex;
	justify-content: center;
}

/* #modal-img-show { */
/* 	border: green solid 1px; */
/* 	width: 300px; */
/* 	height: 300px; */
/* } */

.modal-img {
	/* 	border: gray solid 1px; */
/* 	margin-top: 10px; */
	display: flex;
	margin-left: 20pt;
	/* 	justify-content: center; */
}

#file-upload {
	font-family: 'KNPSKkomi-Regular00';
	font-size: 10pt;
	width: 200px;
}

.modal-textarea {
	display: flex;
	justify-content: center;
}

textarea {
	margin-top: 20px;
	width: 95%;
	height: 150px;
	padding: 10px;
	box-sizing: border-box;
	border: solid 2px #6C4C1C;
	border-radius: 5px;
	font-family: 'KNPSKkomi-Regular00';
	font-size: 20px;
	resize: both;
	background-color: transparent;
}

textarea:focus{
	outline: none;
}

.modal-button {
	/* 	border: blue solid 1px; */
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#modal-btn {
	width: 150px;
	height: 50px;
	cursor: pointer;
	background: #6C4C1C;
	border: none;
	border-radius: 10px;
	font-family: 'KNPSKkomi-Regular00';
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	color: #FDFAE9;
	margin-bottom: 20px;
}

#modal-btn:hover {
	color: #6C4C1C;
	background: #FDFAE9;
	border: #6C4C1C solid 2px;
	transition: background-color 0.3s, color 0.3s;
}