@charset "UTF-8";

/* 폰트 */
@font-face {
    font-family: 'KNPSKkomi-Regular00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KNPSKkomi-Regular00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #fffcf1;
/* 	margin: 0; */
/* 	width: 80vw; */
/* 	height: 100vh; */
	overflow-x: hidden;
}

/* 전체div */
.main-container{
	border: blue solid 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90vw;
	margin-top: 50px;
}

/* 글자부분 */
#main-text{
	border: green solid 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'KNPSKkomi-Regular00';
	font-weight: bolder;
	font-size: 35pt;
}

/* 유리병 아이콘 */
#main-bottle{
	border: red solid 1px;
	width: 500px;
}